# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
.next/
out/
build/
dist/

# Environment Variables (keep secret)
.env
.env*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# System
.DS_Store
Thumbs.db
